*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
color: white;
background-color: rgb(205, 249, 255);
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 40px;
}
h1 {
    color: white;
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
}
.aplicacion-tareas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Logo*/

.logo-contenedor{
width: 100%;
margin: 20px;
display: flex;
align-items: center;
justify-content: center;
}

.logo {
    width: 120px;
    margin: -65px
}

/*Lista de tareas*/

.tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    padding: 25px;
    margin: 65px;
  
    border-radius: 26px;
    background-color: rgb(30, 113, 207);

}